# Ignore Node modules
node_modules/

# Ignore build output
.build/
.svelte-kit/
dist/
output/

# Local environment files
.env
.env.*
*.local

# MacOS specific files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.vscode/
*.swp

# SvelteKit generated types
.svelte-kit/types/

# Lock files (optional)
# Uncomment if you don't want to commit lock files
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
